@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #2C1A2E;
    width: 100vw;
    height: 100vh;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
   
    

    background-color: white;
    width: 280px;
    height: 570px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    
    transition: width .3s, height .3s;
    transition-timing-function: ease;/*desacelera a animação*/
    transform: translate(-50%, -50%);
}

section#login > div#imagem{
    display: block;
    background: url('../imagens/formula.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
}

section#login > div#formulario{
    display: block;
    padding: 10px;
}
section#login > div#formulario > h1{
    text-align: center;
}

form > div.campo{
    background-color: #2c1a2ee1;
    display: block;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin: 5px 0px;

}

div.campo > input:focus-within{
    background-color: white;
    border: none;
}

form > div.campo > span{
    
    color: white;
    
    font-size: 1.9em;
    width: 40px;
    padding: 5px;
}

div.campo > label {
    display: none;
}

form > div.campo > input{
    background-color: #7d4682ba;
    font-size: 1em;
    border: none;
    border-radius: 8px;
    height: 100%;
    width: calc(100% - 45px);
    padding: 4px;
    transform: translateY(-8px);

}

form > input[type=submit]{
    display: block;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #2c1a2ee1;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1em;
    margin-top: 8px;
    border: none;

}

form > input[type=submit]:hover {
    background-color: #7d4682ba;
    color: black;

}

form > a.botao {
    display: block;
    width: 100%;
    height: 40px;
    border-color: white;
    border: 2px solid rgba(0, 0, 0, 0.34);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    
}

form > a.botao > i{
    font-size: .8em;
    margin-top: 10px;
}

form > a.botao:hover {
    background-color: rgba(0, 0, 255, 0.556);
    color: white;
}

section#login > div.txt{
    color:white;
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(45deg, #643B68,#814C86, #9E5EA4, #B96EC0, #643B68);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*border: 1px solid rgb(14, 13, 13);*/
    display: block;
    margin-bottom: 5px;
    width: 60%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(7%, 10%);

    

}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position: 400%;
    }
}